.leaflet-container {
  height: 100vh;
  /*   width: 100vw */
  cursor: url(
      http://www.rw-designer.com/cursor-extern.php?id=105744
    ),
    auto;
}

.leaflet-container{
  z-index:1;
}

.menuPanel{
  position:absolute;
  z-index:3;
  top:-0.5vh;
  height:25vh;
  width:100%;
  background:darkgrey;
  border:5px grey solid;
  border-radius:2%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.divHolder{
  position:relative;
  height:93%;
  width:100%;
  background:white;
  z-index:5;
  
}

.menuHide{
  position:relative;
  height:7%;
  width:100%;
  background:darkgrey;
  border:5px grey solid;
  z-index:5;
  text-align:center;
  margin:-5px;
}